* {
    margin: 0;
    padding: 0;
    border: 0;
}
.navbar{
    background-color: #BCAAA4;
    border: 0;
}
.nav li:hover {
    background-color: #8D6E63;
}
#home {
    width: 100%;
    max-height: 100vh;
}
#home > img {
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    filter: blur(6px);
}
#home-text {
    position: absolute;
    top: 25%;
    margin: 0 4%;
}
#home-text h1{
    color: #FEFEFE;
    font-size: 9em;
    letter-spacing: 4px;
}
#home-text h3 {
    color: #FEFEFE;
    font-size: 1.65em;
    letter-spacing: 3px;
}
#about {
    margin: 6% 8%;
    background: #FEFEFE;
}
#about h1 {
    text-align: center;
    font-size: 5em;
}
#about p {
    font-size: 1.24em;
}
#products {
    background-image: url("../img/mix.JPG");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section {
    margin: 0 8%;
    color: #FEFEFE;
}

.section h1 {
    padding: 4% 0;
    text-align: center;
    font-size: 5em;
}
.section h2 {
    font-size: 3em;
    text-align: center;
}
.section p {
    font-weight: bold;
    font-size: 1.24em;
    text-align: justify;
    padding-bottom: 4%;
}
.middle {
    float: none;
    margin: 0 auto;
}
#contact {
    background: #BCAAA4;
    padding: 2% 8%;
    padding-bottom: 4%;
}
#contact h1 {
    font-size: 5em;
    text-align: center;
}
#contact h3 {
    font-size: 2em;
}
footer {
    border-top: 1px solid #101010;
    padding: 15px;
    width: 100%;
    background-color: #BCAAA4;
    font-size: 14px;
    font-weight: bold;
}
.right {
    float: right;
}
#reviews {
    margin: 0 8%;
    margin-top: 4%;
    margin-bottom: 2%;
}
#reviews .cycle-slideshow{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
#reviews h1{
    font-size: 5em;
    text-align: center;
}
.desc{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    font-size: 1.75em;
    padding: 10px;
    text-align: center;
}
.fix{
    width: 100%;
    padding: 0px;
}
/* Mobile styling */
@media (max-width: 767px) {
    * {
        max-width: 100%;
    }
    #home-text h1 {
        font-size: 4em;
    }
    #home-text h3 {
        font-size: 1.25em;
    }
    #home > img {
        height: auto;
        filter: blur(3px);
    }
    #home-text {
        top: 10%;
    }
    #about h1 {
        font-size: 2.5em;
    }
    #about p {
        font-size: 1em;
    }
    #products .section {
        margin: 0;
    }
    #products h1 {
        font-size: 2.5em;
    }
    #products .section h2 {
        font-size: 1.75em;
        text-align: center;
    }
    #products .section p {
        font-size: 1em;
        margin: 2%;
    }
    #products .section .row {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
    }
    #products .section .row img{
        width: 100%;
        height: auto;
    }
    #reviews {
        max-width: 100%;
        margin: 0 2%;
        margin-bottom: 2%;
    }
    #reviews h1 {
        font-size: 2.5em;
    }
    #reviews .cycle-slideshow {
        margin: 0;
        width: 100%;
        height: auto;

    }
    .desc {
        font-size: 1em;
    }
    #contact h1 {
        font-size: 2.5em;
    }
    #contact h3 {
        font-size: 1.25em;
    }
}
